.images{
    display: flex;
    flex-direction: row;
    width: 313px;
    align-items: center;
    
}
@media (min-width: 768px) and (max-width: 1240px){
    .images{
        width: 200px;
    }
}
@media (max-width:678px){
    .images{
        display: grid;
        width: 100%;
       grid-template-columns: 1fr 1fr;
        
       
    }
}
